.feedContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.left {
  width: 70vw;
  margin: 0 0.5rem;
  padding: 0 0.5rem;
}

.right {
  position: sticky;
  top: 0;
  width: 30vw;
  margin: 0.5rem;
  padding: 0.75rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.createPostHeading {
  margin: 0;
  padding: 0;
}

.searchHeading {
  margin: 0;
  padding: 0;
}

.logoutHeading {
  margin: 0.5rem 0;
  padding: 0;
}

.internalDiv {
  margin-bottom: 1rem;
}
